 @import url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');

html, body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
  }


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .seccion {
    background-color: rgb(49, 49, 49);
    width: 350px;
    height: min-content;
    /* border: 4px solid white; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
  }

  .foto {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }

  li {
    list-style: none;
  }

  .nombre {
    color: white;
    /* border: 1px solid white; */
    margin-bottom: 1%;
  }

  .ubicacion{
    /* border: 1px solid white; */
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: small;
    color: aquamarine;
  }

  .descripccion {
    color: white;
    font-size: 90%;
    margin-bottom: 0%;
    
  }

  ul {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0%;
    /* justify-content: center; */
    align-items: center;
  }

  .enlaces {
    background-color: rgb(87, 87, 87);
    border: 1px solid rgb(34, 22, 22);
    width: 80%;
    /* height: 100%; */
    margin: 4px 0px;
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
    font-size: 85%;
    text-decoration: none;

  }

  .enlaces:hover {
    background-color: aquamarine;
    color: black;
  }